<div class="container" *ngIf="show">
    <div class="row">
      <div class="col">
        <div style="justify-content: center;"><h2>Patient Form</h2></div>
        
        <hr>
        <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
          <div class="form-group">
            <div class="form-group"><label>Enter your Mobile number</label>
              <br>
            <input type="text" id="num" oninput="this.value = this.value.replace(/[^0-9]/g, '')"
            (keyup)="up()"
            maxlength="10"
            class="form-control"
            
            style="width: 50%;">
            <br></div>
            <div class="form-group"><label>Enter your Items here</label>
              <br>
            <input type="text"
            formControlName="items"
            class="form-control"
            style="width: 50%;">
            <br></div>
            <label>Choose your delivery type</label>
            <br>
          <div class="radio" *ngFor="let d of deliverys">
            
         
            <label>
              <input
              formControlName="delivery_type"
              type="radio"
              [value]="d">  {{d}}
              
            </label>
  
  
          </div>
          <br>
          <div class="form-group"><label>Enter your Address</label>
            <br>
          <input type="text"
          formControlName="address"
          class="form-control"
          style="width: 50%;">
          <br></div>
          <div class="form-group"><label>Enter City</label>
            <br>
          <input type="text"
          formControlName="city"
          class="form-control"
          style="width: 50%;">
          <br></div>
          <div class="form-group"><label>Enter your State</label>
            <br>
          <input type="text"
          formControlName="state"
          class="form-control"
          style="width: 50%;">
          <br></div>
          </div>
          <div class="form-group"><label>Enter your Zip Code</label>
            <br>
          <input type="text" maxlength="6" oninput="this.value = this.value.replace(/[^0-9]/g, '')"
          formControlName="zipcode"
          class="form-control"
          style="width: 50%;">
          <br></div>
          <button class="btn btn-primary" type="submit">Submit</button>
         
        </form>
        <div *ngIf="toggle"> 
          <h3>To see order details click here</h3><br>
          <button class="btn btn-success" (click)="view()">Click Me</button>
  
        </div>
      </div>
    </div>
  </div>
<div *ngIf="!show">
  <h3>See all your orders here</h3>
  <div *ngFor="let order of orders">
    <ul>
      <li (click)="orderDetail(order.id)">
        <p>Order number ({{order.order_number}}) with order ID of ({{order.id}}), created date ({{order.created_date}}), amount ({{order.amount}}),delivery type ({{order.delivery_type
        }})</p>
      </li>
    </ul>
 
  </div>
</div>  
